{% extends "govuk/template.njk" %}

{% from "shared-component/components/cookie-banner/macro.njk" import
  govukCookieBanner
%}

{% set html %}
<div class="govuk-cookie-banner__content">
  <p class="govuk-body">We use some essential cookies to make this website work.</p>
  <p class="govuk-body">We’d like to set additional cookies to understand how you use Money claim, remember your settings and improve government services.</p>
  <p class="govuk-body">We also use cookies set by other sites to help us deliver content from their services.</p>
</div>
{% endset %}


{% block head %}
{{ govukCookieBanner({
  ariaLabel: "Cookies on Money claim",
  messages: [
    {
      headingText: "Cookies on Money claim",
      html: html,
      actions: [
        {
          text: "Accept analytics cookies",
          type: "button",
          name: "cookies",
          value: "accept"
        },
        {
          text: "Reject analytics cookies",
          type: "button",
          name: "cookies",
          value: "reject"
        },
        {
          text: "View cookies",
          href: "#"
        }
      ]
    }
  ]
}) }}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
