{% from "../cookie-banner/macro.njk" import govukCookieBanner %}
{% include "./cookie-success-all-banner.njk" %}
{% include "./cookie-reject-all-banner.njk" %}
<div id="cm_cookie_notification" class="govuk-visually-hidden">
{% set html %}
  <p class="govuk-body">We use some essential cookies to make this service work.</p>
  <p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
{% endset %}

{{ govukCookieBanner({
  ariaLabel: "Cookies on " + serviceName,
  hidden:hidden,
  
  messages: [
    {
      headingText: "Cookies on " + serviceName,
      html: html,
      actions: [
        {
          text: "Accept all cookies",
          type: "button",
          value:"Accept all",
          name: "cookies",
          attributes: { id: 'cookie-accept-submit' },
          classes:"js-show"
        },
        {
          text: "Reject analytics cookies",
          type: "button",
          name: "cookies",
          value: "Reject all",
          attributes: { id: 'cookie-reject-submit' },
          classes:"js-show"
        },
        {
          text: "View cookie preferences",
          name: "analytics",
          href: "/cookies",
          attributes: { id: 'set-cookie-preferences' }
        }
      ]
    }
  ]
}) }}
</div>
